<div class="register-container">
  <h2 class="register-title">Registro de usuario</h2>
  <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <label class="register-label">Nombre:</label>
    <input class="register-input" type="text" name="name" [(ngModel)]="model.name" required />

    <label class="register-label">Email:</label>
    <input class="register-input" type="email" name="email" [(ngModel)]="model.email" required />

    <label class="register-label">Contraseña:</label>
    <input class="register-input" type="password" name="password" [(ngModel)]="model.password" required />

    <label class="register-label">Teléfono:</label>
    <input class="register-input" type="text" name="phone" [(ngModel)]="model.phone" required/>

    <label class="register-label">Tipo de usuario:</label>
    <select class="register-input" name="role" [(ngModel)]="model.role" required>
      <option value="OWNER">Comercio (Owner)</option>
      <option value="CONSUMER">Consumidor</option>
    </select>

    <label class="register-label">Plan:</label>
    <select class="register-input" name="plan" [(ngModel)]="model.plan" required>
      <option value="BASIC">Básico</option>
      <option value="PREMIUM">Premium</option>
    </select>

    <button class="register-btn" type="submit" [disabled]="registering || !registerForm.form.valid">
      Registrarse
    </button>
  </form>
  <p class="register-login-msg">
    ¿Ya tienes cuenta?
    <a class="register-login-link" [routerLink]="['/login']">Inicia sesión aquí</a>
  </p>
  <div *ngIf="errorMessage" class="register-error">{{ errorMessage }}</div>
</div>
