<div class="register-container">
  <div class="register-language-switch">
    <app-language-switcher />
  </div>
  <h2 class="register-title">{{ 'register.title' | translate }}</h2>
  <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <label class="register-label">{{ 'register.name' | translate }}</label>
    <input class="register-input" type="text" name="name" [(ngModel)]="model.name" required />

    <label class="register-label">{{ 'register.email' | translate }}</label>
    <input class="register-input" type="email" name="email" [(ngModel)]="model.email" required />

    <label class="register-label">{{ 'register.password' | translate }}</label>
    <input class="register-input" type="password" name="password" [(ngModel)]="model.password" required />

    <label class="register-label">{{ 'register.phone' | translate }}</label>
    <input class="register-input" type="text" name="phone" [(ngModel)]="model.phone" required/>

    <label class="register-label">{{ 'register.role' | translate }}</label>
    <select class="register-input" name="role" [(ngModel)]="model.role" required>
      <option value="OWNER">{{ 'register.owner' | translate }}</option>
      <option value="CONSUMER">{{ 'register.consumer' | translate }}</option>
    </select>

    <label class="register-label">{{ 'register.plan' | translate }}</label>
    <select class="register-input" name="plan" [(ngModel)]="model.plan" required>
      <option value="BASIC">{{ 'register.basic' | translate }}</option>
      <option value="PREMIUM">{{ 'register.premium' | translate }}</option>
    </select>

    <button class="register-btn" type="submit" [disabled]="registering || !registerForm.form.valid">
      {{ 'register.button' | translate }}
    </button>
  </form>
  <p class="register-login-msg">
    {{ 'register.hasAccount' | translate }}
    <a class="register-login-link" [routerLink]="['/login']">{{ 'register.loginHere' | translate }}</a>
  </p>
  <div *ngIf="errorMessage" class="register-error">{{ errorMessage }}</div>
</div>
