<div class="login-container">
  <h2>Inicio de sesión</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="model.email" required />

    <label>Contraseña:</label>
    <input type="password" name="password" [(ngModel)]="model.password" required />

    <!-- El botón solo se habilita si los campos están completos y no está cargando -->
    <button type="submit" [disabled]="loading || !loginForm.form.valid">Entrar</button>
  </form>
  <p>¿No tienes cuenta? <a [routerLink]="['/register']">Regístrate aquí</a></p>
  <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
</div>
