<div class="login-container">
  <div class="login-language-switch">
    <app-language-switcher />
  </div>
  <h2 class="login-title">{{ 'login.title' | translate }}</h2>
  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label class="login-label">{{ 'login.email' | translate }}</label>
    <input class="login-input" type="email" name="email" [(ngModel)]="model.email" required />

    <label class="login-label">{{ 'login.password' | translate }}</label>
    <input class="login-input" type="password" name="password" [(ngModel)]="model.password" required />

    <button class="login-btn" type="submit" [disabled]="loading || !loginForm.form.valid">
      {{ 'login.button' | translate }}
    </button>
  </form>
  <p class="login-register-msg">
    {{ 'login.noAccount' | translate }}
    <a class="login-register-link" [routerLink]="['/register']">
      {{ 'login.register' | translate }}
    </a>
  </p>
  <div *ngIf="errorMessage" class="login-error">{{errorMessage}}</div>
</div>
