<div class="profile-wrapper" *ngIf="user">
  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-avatar">{{ avatar }}</div>
      <div class="profile-header-details">
        <div class="profile-name">{{ user.name }}</div>
        <div class="profile-plan">
          {{ user.plan === 'PREMIUM' ? ('profile.planPremium' | translate) : ('profile.planBasic' | translate) }}
        </div>
      </div>
      <button class="profile-edit-btn" type="button" routerLink="/settings">
        <span class="material-icons">edit</span> {{ 'profile.edit' | translate }}
      </button>
    </div>
    <div class="profile-list">
      <div class="profile-item">
        <span class="profile-label">{{ 'profile.email' | translate }}</span>
        <span class="profile-value">{{ user.email }}</span>
      </div>
      <div class="profile-item">
        <span class="profile-label">{{ 'profile.phone' | translate }}</span>
        <span class="profile-value">{{ user.phone }}</span>
      </div>
      <div class="profile-item">
        <span class="profile-label">{{ 'profile.favorites' | translate }}</span>
        <span class="profile-value"><b>{{ favoriteCount }}</b></span>
      </div>
      <div class="profile-item">
        <span class="profile-label">{{ 'profile.location' | translate }}</span>
        <span class="profile-value">
          <span class="dot yellow"></span>
          {{
            user.locationPermission === 'ALWAYS'
              ? ('profile.locationAlways' | translate)
              : ('profile.locationAsk' | translate)
          }}
        </span>
      </div>
      <div class="profile-item last">
        <span class="profile-label">{{ 'profile.places' | translate }}</span>
        <span class="profile-value places" [innerHTML]="places"></span>
      </div>
    </div>
  </div>
  <footer class="profile-footer">
    {{ 'profile.rights' | translate }}
  </footer>
</div>
